.statisticsPage {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100%;
  padding: 10px 20px 20px;
}


.statisticsPage .headerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.statisticsPage .headerWrapper h2 {
  flex-grow: 1;
}

.statisticsPage .headerWrapper:not(:first-of-type) {
  margin-top: 20px;
}
