.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.marvel-device {
  width: 450px !important;
  height: 800px !important;
}

.marvel-device .screen {
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  flex-grow: 1;

  margin: auto;
  width: 100%;

  overflow-y: scroll;
  overflow-x: hidden;

  margin-bottom: var(--bottom-navbar-height);
}

.canvasWrapper {
  width: 450px;
  height: 450px;
  background-color: white;
}

.pageWrapper {
  display: flex;

  flex-grow: 1;

  min-height: 500px;

  background: url(./resources/background.png);
  background-repeat: repeat;
}

.navbarWrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

