.villageNamePanel {
  padding: 10px 20px;
  background: #525048;
  box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.villageNamePanel .name {
  text-align: center;
}
